.portfolio-wrap {
  background-color: #ffffff;
}
.portfolio-container {
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 70px auto 0;
  margin: auto;
}
.about-paragraph {
  max-width: 1170px;
}
.portfolio-button {
  padding: 5px 45px;
  border: 2px solid #3e3d3d;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 44.32px;
  text-transform: uppercase;
  /* Text style for "BROCHURES" */
  letter-spacing: 1.24px;
}
.portfolio-button:hover {
  background-color: #3e3d3d;
  color:#ededed;
}
.portfolio-gallery2 {
  padding-top: 60px;
  -moz-column-count:4; /* Firefox */
  -webkit-column-count:4; /* Safari и Chrome */
  column-count:4;
  column-rule-style: none;
  flex-wrap: wrap;
  -webkit-column-gap: 0; /* Chrome, Safari, Opera */
  -moz-column-gap: 0; /* Firefox */
  column-gap: 0;
  display: block;
  flex-direction: column;
 }
.item-portfolio {
  display: flex;
  margin: 0;
  width: 100%;
}
