.portfolio-wrap {
  background-color: #ffffff;
}
.portfolio-container {
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 70px auto 0;
  margin: auto;
}
.portfolio-button {
  padding: 5px 45px;
  border: 2px solid #3e3d3d;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 44.32px;
  text-transform: uppercase;
  /* Text style for "BROCHURES" */
  letter-spacing: 1.24px;
}
.portfolio-button:hover {
  background-color: #3e3d3d;
  color:#ededed ;
}
.portfolio-gallery {

  padding-top: 60px;
  display: grid;
  margin: 0;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-column-gap: 0vh;
  grid-row-gap: 0vh;
}