.prices-wrap {
  background-color: #e3e3e3;
}
.prices-container {
  max-width: 1170px;
  text-align: center;
  margin: auto;
}
.prices-paragraph {
  color: #3e3d3d;
  font-family: "Crimson Text - Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  /* Text style for "N, ullam l" */
  letter-spacing: 1.4px;
  padding-top: 50px;
}
.prices-block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prices-block-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22%;
  margin: 2%;
  text-align: center;
  padding: 40px;
  margin-bottom: 35px;
}
.prices-block-item_header {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  /* Text style for "PRO" */
  letter-spacing: 1.47px;
  padding-bottom: 15px;
}
.line-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.line-price {
  border: 1px solid #3e3d3d;
  width: 60px;
  height: 1px;
  display: flex;
  flex-direction: column;

}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid #3e3d3d;
  padding: auto;
}
.fa {
  margin: auto; /* по центру круга не выравнивается*/
  transform : translateY(25%);
}
.fa-usd {
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 39.37px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  transform : translateX(-25%);
}
.price {
  display: block;
  color: #3e3d3d;
  font-family: Montserrat;
  font-size: 70px;
  font-weight: 700;
  line-height: 126.84px;
}
.prices-block-item_list {
  font-family: "Crimson Text";
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  padding-bottom: 40px;
}
.price-button {
  margin: auto;
  background-color: #ffffff;
}